*{
    margin: 10px;
    padding: 10px;
    box-sizing:border-box   /* para que no choquen las cajas entre si*/
}
.padre{
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap; /* vista en columnas y nowrap adapta todo al tamaño establecido*/
}
    .header{
        background: black;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #1D2B53;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
            .op1{
                background: #FF6969;
                flex: 1 1 auto;
            }
            .op2{
                background: #FF6969;
                flex: 5 1 auto;
            }
            .op3{
                background: #FF6969;
                flex: 1 1 auto;
            }
            
        .titulo{
            background: #FF9843;
        }
            h1{
                background: #FFDD95;
            }
    .section{
        background: black;
        display: flex;
    }
        .articulos{
            background: #756AB6;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;  /*wrap hace que si no cabe un elemento, lo pase abajo*/
        }
            .article{
                background: #4942E4;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #86B6F6;
                flex: 1 1 100%;
            }
        .aside{
                background: #FF004D;
                flex: 1 1 auto;           
        }
            .lateral1{
                background: #FDFFAB;
            }
            .lateral2{
                background: #FDFFAB;
            }
    .footer{
        background: black;
    }
        .pie{
            background: #E5D283;
        }